<app-custom-button
  (buttonClick)="doSomething($event)"
  [theme]="CustomButtonTheme.prime"
  [disabled]="false"
  [label]="'Custom Button'"
></app-custom-button>

<app-custom-button
  (buttonClick)="doSomething($event)"
  [theme]="CustomButtonTheme.secondary"
  [disabled]="false"
  [label]="'Custom Button'"
></app-custom-button>

<app-custom-button
  (buttonClick)="doSomething($event)"
  [theme]="CustomButtonTheme.secondary"
  [disabled]="true"
  [label]="'Custom Button'"
></app-custom-button>
